body {
    margin: auto;
    width: 800px;
    background-color: rgb(57, 57, 102);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    color: whitesmoke;
}

h2 {
    font-size: 18px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    border-radius: 2px;
    margin-bottom: 10px;
    height: 30px;
    align-items: center;
    text-decoration: none;
}
.navbar a {
    text-decoration: none;
    font-size: 18px;
}


.section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 10px 10px; 
    grid-template-areas: 
    "div1 div3 div4"
    "div2 div3 div5"
    "div2 . div6";
}

h2, p, a {
    margin-left: 8px;
}
h2 {
    font-size: 14px;
}
p {
    font-size: 12px;
}
a {
    font-size: 11px;
}

.div1 {
    grid-area: div1;
    background-color: whitesmoke;
}
.leia1 {
    margin-top: 72px;
}

.div2 {
    grid-area: div2;
    background-color: whitesmoke;
}
.div2 .img2 {
    width: 200px;
    height: 220px;
    margin-left: 11%; 
}
.leia2 {
    margin-top: 20px;
}

.div3 {
    grid-area: div3;
    background-color: whitesmoke;  
}
.div3 .img3 {
    border-radius: 50%;
    width: 220px;
    height: 220px;
    margin-left: 7%; 
}
.leia3 {
    margin-top: 20px;
}

.div4 {
    grid-area: div4;
    background-color: whitesmoke;
}
.leia4 {
    margin-top: 67px;
    background-color: orangered;
    height: 35px;
    align-items: center;
    display: flex;
}

.div5 {
    grid-area: div5;
    background-color: whitesmoke;
}
.titulo_5 {
    background-color: rgb(56, 56, 250);
    height: 35px;
    align-items: center;
    display: flex;
    margin-top: 15px;
}
.leia5 {
    margin-top: 50px;
}

.div6 {
    grid-area: div6;
    background-color: whitesmoke; 
}
.leia6 {
    margin-top: 70px;
}